*.in
*.la
*.lo
*.m4
*.o
.deps/
.dirstamp
.libs
INSTALL
Makefile
autom4te.cache/
check_*f
check_*t
compile
config.*
configure
depcomp
examples/*
install-sh
libtool
ltmain.sh
missing
rounding_control/rounding_control_config.hpp
stamp-h1
test/makeTestCases
